services:
  prometheus:
    image: prom/prometheus:v3.9.1
    container_name: prometheus
    restart: always
    networks:
      - monitor
      - internal_ui
    command: "--config.file=/etc/prometheus/prometheus.yaml"
    volumes:
      - prometheus:/prometheus
      - /home/master/bin/config/prometheus.yaml:/etc/prometheus/prometheus.yaml:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.prometheus.service=prometheus"
      - "traefik.http.routers.prometheus.entrypoints=websecure"
      - "traefik.http.routers.prometheus.tls=true"
      - "traefik.http.routers.prometheus.rule=Host(`prometheus.panda.tsphotoclicks.net`)"
      - "traefik.http.services.prometheus.loadbalancer.server.port=9090"
      - "traefik.http.routers.prometheus.middlewares=authentik@docker"
    env_file:
      - ../.env/.env.default
volumes:
  prometheus:
    external: true
networks:
  internal_ui:
    external: true
  monitor:
    external: true